# Dataset
data/raw/
data/processed/

# Images
*.jpg
*.jpeg
*.png
*.bmp
*.gif
*.tiff

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.env
.venv/

# OS
.DS_Store
Thumbs.db